body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.top-banner {
    background: url(images/top-banner.png) no-repeat;
    
}
.flex-area {
    display: flex;
    
}
h1 {
    font-size: 50px;
}
h1 span{
    color: orange;
}
.section-margin {
    margin-bottom: 120px;;
}
.half-width {
    width: 40%;
    padding-left: 5%;
}
.link-button {
    background: linear-gradient(tomato, orange);
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
}
.half-width img{
    width: 100%;
}
.dream-bg {
    background: url(images/dream-bg.png) no-repeat right;
}
.orange-color {
    color: orange;
}
.experience {
    box-shadow: grey 2px 7px 15px;
    border-left: 10px solid #FF926E;
    padding: 20px;
    margin-left: 5%;
}
.experience-bg {
    background: url(images/exp-bg.png) no-repeat left bottom;
}
.exp-right-bd {
    border-left: 10px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}